<div class=" content">

  <!-- <div class=" card-body">
    <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
  </div>   -->
  <div class=" row">
    <!-- <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Revenue</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>  -->
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">Total Revenue</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="table">

              <table class="table">
                <thead>
                  <tr scope="row" style="color:skyblue">
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>        
                  <td>$15,442,262</td>
                  <td>$14,515,726</td>
                  <td>(6.0%)</td> 
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td >$156,352,901</td>
                    <td >$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">Gross Profit</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table1" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual1" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="table1">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>
                  <td style="color:black;text-align:right">$15,442,262</td>
                  <td style="color:black;text-align:right">$14,515,726</td>
                  <td>(6.0%)</td>
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td style="color:black;text-align:right">$156,352,901</td>
                    <td style="color:black;text-align:right">$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual1">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">Net Income</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table2" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual2" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="table2">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>
                  <td style="color:black;text-align:right">$15,442,262</td>
                  <td style="color:black;text-align:right">$14,515,726</td>
                  <td>(6.0%)</td>
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td style="color:black;text-align:right">$156,352,901</td>
                    <td style="color:black;text-align:right">$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual2">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">EBITDA</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table3" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual3" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="table3">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>
                  <td style="color:black;text-align:right">$15,442,262</td>
                  <td style="color:black;text-align:right">$14,515,726</td>
                  <td>(6.0%)</td>
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td style="color:black;text-align:right">$156,352,901</td>
                    <td style="color:black;text-align:right">$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual3">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">EBIT</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table4" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual4" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="table4">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>
                  <td style="color:black;text-align:right">$15,442,262</td>
                  <td style="color:black;text-align:right">$14,515,726</td>
                  <td>(6.0%)</td>
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td style="color:black;text-align:right">$156,352,901</td>
                    <td style="color:black;text-align:right">$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual4">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">EBT</h4>
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#table5" role="tab" data-toggle="tab">Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visual5" role="tab" data-toggle="tab">Visual</a>
            </li>

          </ul>
        </div>
        <div class=" card-body">

          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active fade in" id="table5">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Targets</th>
                    <th scope="col">Actuals</th>
                    <th scope="col">Variance</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row" style="color:skyblue">Current Month (Oct.2019)</th>
                  <td style="color:black;text-align:right">$15,442,262</td>
                  <td style="color:black;text-align:right">$14,515,726</td>
                  <td>(6.0%)</td>
                  <tr>
                    <th scope="row" style="color:skyblue">Year to Date (Jan.-Oct.2019)</th>
                    <td style="color:black;text-align:right">$156,352,901</td>
                    <td style="color:black;text-align:right">$150,832,293</td>
                    <td>(3.5%)</td>

                  </tr>
                </tbody>
              </table>



            </div>
            <div role="tabpanel" class="tab-pane fade" id="visual5">
              <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>

</div>
