<div class="content">
    <a href="" id="metricsbtn"><button type="button" class="btn btn-sm btn-primary btn-simple mr-1 float-right" data-toggle="modal" data-target="#myModal">
        Metrics
      </button></a>
  <!-- <a href="#"><button type="button" class="btn btn-sm btn-primary btn-simple mr-1 float-right" data-toggle="modal" data-target="#myModal">
    Visuals
  </button></a> -->
    
  <button type="button" id="saveScenario"   class="btn btn-sm btn-primary btn-simple mr-1 float-right" data-toggle="modal" data-target="#myModal">
    Save Scenario
  </button>
 <a href=""  id="addNewScenario"> <button  type="button"  class="btn btn-sm btn-primary btn-simple mr-1 float-right" >
    Add Scenario
  </button></a> 
 
    <h4 class="pl-2 pt-1">Assumptions</h4>
    
      <div class=" row">
       
        <div class=" col-lg-4">
          <div class=" card card-chart">
            <!-- <div class=" card-header">
              <h4 class=" card-title">Revenue Growth</h4>  
            </div> -->
            <div class=" card-body">
                 <div class=" chart-area" #revenuegrowth> </div> 
               
            </div>
          </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-chart">
              <!-- <div class=" card-header">
                <h4 class=" card-title">COGS</h4>  
              </div> -->
              <div class=" card-body ">
                  <div class=" chart-area" #cogs></div> 
                 
              </div>
            </div>
          </div>
        <div class=" col-lg-4">
              <div class=" card card-chart">
                <!-- <div class=" card-header">
                  <h4 class=" card-title">SG&A</h4>  
                </div> -->
                <div class=" card-body">
                    <div class=" chart-area" #SG&A></div>  
                    
                </div>
              </div>
            </div>
            <div class=" col-lg-4">
                <div class=" card card-chart">
                  <!-- <div class=" card-header">
                    <h4 class=" card-title">D&A</h4>  
                  </div> -->
                  <div class=" card-body" >
                   <div class=" chart-area" #D&A></div>  
                  </div>
                </div>
              </div>
               <div class=" col-lg-4">
                  <div class=" card card-chart">
                    <!-- <div class=" card-header">
                      <h4 class=" card-title">Other Income/Expense</h4>  
                    </div> -->
                    <div class=" card-body">
                        <div class=" chart-area" #otheincome></div>  
                        
                    </div>
                  </div>
                </div>
              <div class=" col-lg-4">
                    <div class=" card card-chart">
                      <!-- <div class=" card-header">
                        <h4 class=" card-title">Net Interest Expense</h4>  
                      </div> -->
                      <div class=" card-body" >
                         <div class=" chart-area" #netie></div> 
                          
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="pl-2 pt-1">Projections</h4>
                  <div class=" row">
  
                  
  
                     <div class=" col-lg-4">
                      <div class=" card card-chart">
                        <!-- <div class=" card-header">
                          <h4 class=" card-title">Revenue Growth</h4>  
                        </div> -->
                        <div class=" card-body">
                           <div class=" chart-area" #projectionOne> </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-lg-4">
                        <div class=" card card-chart">
                          <!-- <div class=" card-header">
                            <h4 class=" card-title">COGS</h4>  
                          </div> -->
                          <div class=" card-body">
                               <div class=" chart-area" #projectionTwo> </div>
                          </div>
                        </div>
                      </div>
                      <div class=" col-lg-4">
                          <div class=" card card-chart">
                            <!-- <div class=" card-header">
                              <h4 class=" card-title">SG&A</h4>  
                            </div> -->
                            <div class=" card-body">
                                <div class=" chart-area" #projectionThree> </div> 
                            </div>
                          </div>
                        </div>
                        <div class=" col-lg-4">
                            <div class=" card card-chart">
                              <!-- <div class=" card-header">
                                <h4 class=" card-title">D&A</h4>  
                              </div> -->
                              <div class=" card-body" >
                                 <div class=" chart-area" #projectionFour> </div> 
                              </div>
                            </div>
                          </div>
                          <div class=" col-lg-4">
                              <div class=" card card-chart">
                                <!-- <div class=" card-header">
                                  <h4 class=" card-title">Other Income/Expense</h4>  
                                </div> -->
                                <div class=" card-body">
                                  <div class=" chart-area" #projectionFive> </div>
                                </div>
                              </div>
                            </div>
                            <div class=" col-lg-4">
                                <div class=" card card-chart">
                                  <!-- <div class=" card-header">
                                    <h4 class=" card-title">Net Interest Expense</h4>  
                                  </div> -->
                                  <div class=" card-body" >
                                      <div class=" chart-area" #projectionSix> </div>  
                                  </div>
                                </div>
                              </div>
  
    
      </div>
    
    </div>
    