
        <div class="login-box">
                <div class="login-logo">
                  <a href="/"><img src="/public/dist/img/RMI.jpg" class="img-fluid" ></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body" style="margin-top: -23px">
                  <p class="login-box-msg">Sign in to start your session</p>
              
                  <form>
                    <div class="form-group has-feedback">
                      <input type="username" class="form-control" id="username" placeholder="Username" name="username" required>
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-8">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox"> Remember Me
                          </label>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-xs-4" style="color:skyblue">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="upload(event)" >Sign In</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
              
                 
                  <!-- /.social-auth-links -->
              
                  <a href="#" style="color:black">Forgot my password</a><br>
                  <a href="/register" class="text-center" style="color:black">Register as a new user</a>
              
                </div>
                <!-- /.login-box-body -->
              </div>
