<!-- <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><img src="/public/dist/img/RMI.jpg" class="img-fluid" ></a>
      </div>

      <div class="login-box-body" style="margin-top: -23px">
        <p class="login-box-msg">Sign in to start your session</p>
    
        <form>
          <div class="form-group has-feedback">
            <input type="username" class="form-control" id="username" placeholder="username" name="username" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
         
       
            <div class="col-xs-4" style="color:skyblue">
              <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="upload(event)" >Sign In</button>
            </div>
    
          
        </form>
    
     
    
        <a href="#" style="color:black">Forgot my password</a><br>
        <a href="/register" class="text-center" style="color:black">Register as a new user</a>
    
     
    </div>
 
</div>
</div> -->


<div class="wrapper fadeInDown" style="background-color: #d3e5eb;">
    <div id="formContent">
  
   
   <div class="modal-header" style="background-color: #164A5B; padding:5px 15px 5px 151px;">
     
    <img src="../../assets/img/navlogo.png" style="max-width:50%;height: 25px;" alt="User Icon" />
  </div> 
      <form class="pt-3">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username" required style="height:50px">
        <input type="password" id="password" class="fadeIn third" name="Password" placeholder="Password" required style="height:50px">
        <input type="submit" class="fadeIn fourth" value="Log In" onclick="upload(event)" >
    
    </form>
  
   
      <div id="formFooter">
      
        <a class="underlineHover" href="#">Register as a new user</a><br>
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
     
    </div>
  </div>
