
<style>
   a, .pagination>li>span { border-radius: 50% !important;margin: 0 10px;} 

  :host {
  font-family: "poppins", poppins, sans-serif;
}

td,th{
  text-align: center;
}
.list {
  max-width: 800px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}
</style>
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        
        <div class=" card-body">
          <!-- <div class=" table-responsive"> -->
            <table class=" table tablesorter" id="dtBasicExample">
              <thead class=" text-primary">
                <tr style="color:black;">
                    <th >No.</th>
                  <th>Company Name</th>
                  <th>Period</th>
                  <th>Created By</th>
                  <th>Submitted On</th>
                  <th>Title</th>
                </tr>
              </thead>
            </table>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container d-flex justify-content-center" >
      <ul class="pagination">
                    
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
      </div> -->
</div> 

    
   